<!DOCTYPE html>
<html>
<head>
	<title>404</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/404.css">
</head>
<body>
	<div>
        <h1>Oops!</h1>
        <h2>Page not found</h2>
    </div>
</body>
</html>