 <!DOCTYPE html>
 <html>
 <head>
 	<title>History</title>
 	<link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
	 <link rel="stylesheet" type="text/css" href="/assets/css/history.css">
	 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	 
 </head>
 <body>
 	<% include menu.ejs %>
	<div class='historyHeader'>
	<h1>History</h1>
	</div>
	<div class="items">
		<a id='doLogin' href='/login'><span>Do login to have history</span></a>
	 </div>	
 </body>
 </html>