<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
	
	<% include menu.ejs %>
	
	<div id="login">
		<h1>Login</h1>
		<form id='loginForm' action="modules/operations/proLogin.php" method="POST">
			<input id='user' class="field" type="text" name="user" placeholder='User' required><br>
			<input id='pass' class="field" type="password" name="pass" placeholder='Password' required><br>
			<button class="formButton" type="submit">Login</button>
		</form>
	<div>
</body>
</html>